<div class="event-container">
  <div class="event-container-header">
    <span><img src="/img/logo.png" alt="logo" width="211" height="63"></span>
    <span><%= @event.name.sub(/.*?#/, '#') %></span>
  </div>
  <table class="event-container-table">
    <tbody>
    <% @event.entrants.each do |entrant| %>
      <tr>
        <td><%= entrant.place %></td>
        <td><%= entrant.full_name %></td>
        <td>$<%= entrant.prize_pool %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>